.header-bg{
    background-color: var(--cor-12);
}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 !important;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.header-menu a{
    display: inline-block;
    padding: 1rem 0;
    position: relative;
}

.header-menu a::after{
    content: "";
    display: block;
    width: 0;
    height: .125rem;
    margin-top: .25rem;
    background-color: var(--cor-0);
    transition: 0.3s ease-in-out;
    position: absolute;
}

.header-menu a:hover::after{
    width: 100%;
}

@media (max-width: 800px){
    .header-menu{
        gap: 1.25rem;
    }

    .header-menu a{
        background-color: var(--cor-11);
        padding: .75rem 1rem;
        border-radius: 4px;
    }

    .header-menu a:hover{
        background-color: var(--cor-10);
    }

    .header-menu a::after{
        display: none;
    }
}

@media (max-width: 600px){
    .header-menu{
        gap: .75rem;
    }

    .header-menu a{
        padding: .5rem .75rem;
        font-size: .875rem;
    }
}